version=1.3
logConversionStepOutput=false
conftool_shared_pass=MyPass
conftool_login_url=https://www.conftool.net/demo/dh2015_26a/
conftool_rest_url=https://www.conftool.net/demo/dh2015_26a/rest.php
# oxgarage_url=http://85.214.78.116:8080/ege-webservice/
oxgarage_url=http://www.tei-c.org/ege-webservice/
tei_image_location=/Pictures
image_min_resolution_width=200
image_min_resolution_height=100
publicationStmt=<publicationStmt xmlns="http://www.tei-c.org/ns/1.0"><publisher>Paul Arthur, University of Western Sidney</publisher><address><addrLine>Locked Bag 1797</addrLine><addrLine>Penrith NSW 2751</addrLine><addrLine>Australia</addrLine><addrLine>Paul Arthur</addrLine></address></publicationStmt>
encodingDesc=<encodingDesc xmlns="http://www.tei-c.org/ns/1.0"><appInfo><application ident="DHCONVALIDATOR" version="{VERSION}"><label>DHConvalidator</label></application></appInfo></encodingDesc>
performSchemaValidation=true
base_url=http://www.digitalhumanities.it/dhconvalidator/