/* set valo specific parameters */
    
$v-shade: #e8e8e8;
$v-font-family: "Open Sans";
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-font-size: 13px;
$v-background-color: #fff;
$v-focus-color: #73c3ad;
$v-luminance-threshold: 180;
$v-border: 1px solid v-shade;
$v-border-radius: 6px;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-link-text-decoration: false;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-height: 30px;
$v-selection-item-border-radius: 0;
$valo-menu-background-color: #eee;
	
/* Import the valo theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../valo/valo.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin dhconvalidator {
  /* Include all the styles from the reindeer theme */
  @include valo;

  /* Insert your theme rules here */
  .login-caption {
  	font-weight: bold;
  	text-align: center;
  }
  
  .title-caption {
  	font-weight: bold;
  }
  
  .plain-link {
  	padding: 0px;
  }
  .plain-link:focus:after {
  	box-shadow: none;
  	border-color:none;
  }
  
  .v-upload .v-button {
  	margin-left: 5px;
  }
  
  .converterpanel-resultcaption {
    text-align: center;
  }
  
  .converterpanel-progressbar {
  	margin-top: 14px;
  	
  }
  
  .tei-preview span.titlem {
    display: block;
  }
  
  .tei-preview h1.maintitle {
  	margin-left: 0px;
  	text-align:center;
  }
  
  .postDownloadInfoRedAndBold {
  	font-weight: bold;
  	color:red;
  }
}
